@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
    font-family: "AdobeGaramondProRegular";
    src: url("../fonts/AdobeGaramondProRegular.eot");
    src: url("../fonts/AdobeGaramondProRegular.eot") format("embedded-opentype"), url("../fonts/AdobeGaramondProRegular.woff2") format("woff2"), url("../fonts/AdobeGaramondProRegular.woff") format("woff"), url("../fonts/AdobeGaramondProRegular.ttf") format("truetype"), url("../fonts/AdobeGaramondProRegular.svg#AdobeGaramondProRegular") format("svg");
}

$GaramonFonts: AdobeGaramondProRegular;
$OpenSansFont: "Open Sans",
sans-serif;
$whiteColor: #ffffff;
$blackColor: #000000;
$fontcolros: #4d4d4d;
$themeColors: #673ab6;
$transitionEffect: all 0.5s ease;
@mixin sampleWhiteButton {
    background: $themeColors;
    border: solid 1.5px $themeColors;
    font-size: 18px;
    padding: 0 20px;
    height: 42px;
    color: $whiteColor;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 180px;
    transition: $transitionEffect;
    &:hover {
        transition: $transitionEffect;
        text-decoration: none;
        background: transparent;
        border: 1.5px solid $themeColors;
        color: $themeColors;
    }
}

@mixin sampleBlackButton {
    background: transparent;
    border: solid 1.5px $themeColors;
    font-size: 18px;
    padding: 0 20px;
    height: 42px;
    color: $themeColors;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 180px;
    transition: $transitionEffect;
    &:hover {
        transition: $transitionEffect;
        text-decoration: none;
        background: $themeColors;
        color: $whiteColor;
    }
}

html {
    height: 100%;
    max-height: 100%;
}

body {
    height: 100%;
    font-family: $OpenSansFont;
}

header {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 0;
    height: 70px;
    .navbar {
        .navbar-brand {
            color: $fontcolros;
            font-size: 25px;
        }
        .collapse {
            ul {
                li {
                    margin: 0 0 0 20px;
                    a {
                        color: $fontcolros;
                        font-size: 22px;
                        font-weight: 500;
                        font-family: $GaramonFonts;
                    }
                }
                li.signup_section {
                    a {
                        font-family: $OpenSansFont;
                        font-size: 16px;
                        display: inline-block;
                        border: solid 1px $themeColors;
                        border-radius: 20px;
                        padding-left: 20px;
                        padding-right: 20px;
                        background: $themeColors;
                        color: $whiteColor;
                    }
                }
            }
        }
    }
}

header.header_fixed {
    position: fixed;
    background: #f1f1f1;
}

.slider_sections {
    position: relative;
    background: url("../images/slider_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .slider_contents {
        padding: 0;
        position: relative;
        text-align: center;
        h1 {
            font-size: 45px;
            margin: 0 0 40px 0;
            color: $whiteColor;
            font-weight: 600;
        }
        a {
            @include sampleWhiteButton();
        }
    }
}

.new_collection_section {
    padding: 30px 0;
    position: relative;
    .new_collection_img {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .row {
            width: 100%;
        }
        h2 {
            color: $whiteColor;
            font-family: $GaramonFonts;
        }
        p {
            margin: 0 0 30px 0px;
            color: $whiteColor;
        }
        a {
            @include sampleWhiteButton();
            margin: 0 auto;
            width: 140px;
        }
    }
    .new_fabrics_section {
        position: relative;
        background: url("../images/new_fabircs.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .mens_collections {
        background: url("../images/mens_collections.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.product_slider_sections {
    padding-bottom: 30px;
    position: relative;
    .product_contents {
        .product_img {
            img {
                width: 100%;
                max-width: 100%;
                height: 100%;
                min-height: 300px;
            }
        }
        .product_body {
            padding-top: 20px;
            h2 {
                color: $blackColor;
                font-size: 28px;
                font-family: $GaramonFonts;
                margin: 0 0 10px 0;
            }
            p {
                color: $fontcolros;
                font-size: 16px;
                margin: 0 0 10px 0;
                height: 100%;
                min-height: 100px;
            }
            a {
                @include sampleBlackButton();
                margin: 0;
            }
        }
    }
}


/*//////////////////////////// container fluid start //////////////////////*/

.partner_logo {
    background-color: #f1f1f1;
    width: 100%;
    padding: 30px 0;
    a {
        color: #000
    }
    a:hover {
        text-decoration: none;
        color: #000;
    }
    .gq_logo {
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            max-width: 100px;
            filter: grayscale(100%);
            transition: all 1s ease;
            &:hover {
                filter: grayscale(0);
                transition: all 1s ease;
            }
        }
        span {
            text-align: center;
            width: 100%;
            max-width: 210px;
            margin: 0 auto;
            padding-top: 10px;
        }
    }
    .vogue_logo {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            max-width: 160px;
        }
        p {
            padding-top: 20px;
        }
    }
    .vogue_logo {
        img {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        p {
            width: 170px;
        }
    }
    .timeout {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        img {
            width: 100%;
            max-width: 70px;
        }
    }
    .bbc {
        p {
            width: 200px
        }
    }
}

//////////////////// PARTNER_LOGO END ///////////////////
.made_in_mumbai {
    width: 100%;
    overflow-x: hidden;
    margin: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .made_in_image {
        background-image: url('../images//Bombay_1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 350px;
        width: 100%;
        background-position: center;
        ;
    }
    .made_in_image.dinner_image {
        background-image: url('../images/Bombay-Shirts-Lavelle-Road-2-Resized.jpg')
    }
    .made_in_text {
        background-color: #bac8cb;
        width: 100%;
        height: 100%;
        position: relative;
        padding: 20px;
        h3 {
            margin: 0;
            font-size: 32px;
        }
        p {
            margin: 0;
            padding: 25px 0 0 0;
        }
        .about_btn {
            margin-top: 40px;
            button {
                @include sampleBlackButton();
                margin: 0;
                width: auto;
                font-size: 14px;
            }
        }
    }
    .made_in_text.experience_sections {
        background: rgba(201, 157, 101, .25);
    }
}

//////////////// MADE IN MUMBAI END ///////////////////
.footer {
    width: 100%;
    background-color: #f1f1f1;
    padding: 25px 0;
    margin: 30px 0 0 0;
    .sub_footer {
        margin: 40px 0;
        .shop_online {
            display: flex;
            flex-direction: column;
            h6 {
                color: $themeColors;
                text-align: left;
                font-size: 13px;
                font-weight: 700;
            }
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    a {
                        color: #000;
                        font-size: 13px;
                        &:hover {
                            color: $themeColors;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
        .about {
            h5 {
                font-size: 13px;
                color: $themeColors;
                font-weight: 700;
                margin: 0;
                padding: 15px 0;
            }
        }
        .about.footer_form {
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: row;
            .form_dive {
                .subscribe_form {
                    width: 300px;
                }
            }
        }
        .footer_form {
            .subscribe_form {
                input {
                    border: 1px solid #CCC;
                    height: 38px;
                    line-height: 38px;
                    &:focus {
                        border: solid 1px $themeColors;
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
        .footer_form {
            .footer_btn {
                button {
                    background: $themeColors;
                    color: $whiteColor;
                    border: 1px solid $themeColors;
                    margin-left: -20px;
                }
            }
        }
        .icon_stores {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            max-width: 100px;
            font-size: 40px;
            .facebook {
                a {
                    i {
                        color: #000;
                        &:hover {
                            color: blueviolet;
                        }
                    }
                }
            }
            .insta {
                a {
                    i {
                        color: #000;
                        &:hover {
                            color: rosybrown;
                        }
                    }
                }
            }
        }
    }
}

.images_svg {
    margin-top: 20px;
    padding: 60px 0;
    background: #f1f1f1;
    .svg_img {
        svg {
            width: 100%;
            fill: red;
            &:hover {
                fill: green;
            }
        }
    }
}

.section_wrap {
    margin: 0 0 30px 0;
}

.nav.nav-pills li a {
    background-color: #f2f2f2;
    border-radius: 4px;
    display: inline-block;
    color: #000000;
    width: 100%;
    margin: 0 0 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav.nav-pills li a p {
    display: flex;
    flex-direction: column;
}

.nav.nav-pills li a img {
    max-width: 100%;
    max-width: 25px;
}

.nav.nav-pills li a.active {
    background-color: $themeColors;
    color: $whiteColor;
}

.tab-content .list_of_fabric {
    margin: 0 0 15px 0;
}

.tab-content .list_of_fabric img {
    width: 100%;
    max-width: 100%;
}

.list_of_collars {
    border: solid 1px #CCC;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_of_collars:hover {
    background: #f1f1f1;
}

.list_of_pockets {
    width: 100%;
    min-height: 100px;
    border: solid #f1f1f1 1px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list_of_pockets:hover {
    background: #f1f1f1;
}

.main_shirt_sections {
    width: 400px;
    height: 400px;
    margin: 0 auto;
    /* background: red; */
    position: relative;
}

.main_front_sections {
    width: 400px;
    margin: 0 auto;
    height: 400px;
}

.sleeves_full_section {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 0;
    right: auto;
    top: 0;
}

.cuff_one_section {
    position: absolute;
    left: 0;
    right: auto;
    width: 400px;
    top: 0;
}

.placket_straight {
    position: absolute;
    left: 0;
    width: 400px;
    top: 0;
}

.collar_polo_section {
    position: absolute;
    left: 0;
    width: 100%;
    right: auto;
}

.collar_band_section {
    position: absolute;
    left: 0;
    width: 100%;
    right: auto;
}

.customize_sections {
    margin-top: 70px;
    position: relative;
    .customize_header {
        margin-bottom: 30px;
        h2 {
            font-size: 30px;
            margin: 0;
            font-family: $GaramonFonts;
        }
        p {
            font-size: 16px;
            margin: 0;
        }
    }
}

.fabric_fillter_section {
    margin: 0 0 20px 0;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        li {
            margin-right: 5px;
            #filterButton {
                border: solid 1px $themeColors;
                background: transparent;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 38px;
                border-radius: 5px;
                &:focus {
                    border: solid 1px $themeColors;
                    box-shadow: none;
                    outline: none;
                }
            }
            select {
                height: 38px;
                border: solid 1px $themeColors;
                border-radius: 5px;
                &:focus {
                    border: solid 1px $themeColors;
                    box-shadow: none;
                    outline: none;
                }
            }
            form {
                display: flex;
                input {
                    height: 38px;
                    border: solid 1px #CCC;
                    border-radius: 5px 0 0 5px;
                    &:focus {
                        border: solid 1px $themeColors;
                        box-shadow: none;
                        outline: none;
                    }
                }
                button {
                    height: 38px;
                    width: 38px;
                    border: solid 1px $themeColors;
                    background: $themeColors;
                    color: #FFF;
                    border-radius: 0 5px 5px 0;
                    &:focus {
                        box-shadow: none;
                        outline: none;
                    }
                }
            }
        }
    }
}

.Collar_filter_sections {
    margin: 0 0 20px 0;
    select {
        width: 50%;
        height: 38px;
        border: solid 1px $themeColors;
        padding: 0 7px;
        border-radius: 5px;
        &:focus {
            box-shadow: none;
            outline: none;
        }
    }
}

.custom_radtioButton {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    input[type="radio"] {
        display: none;
    }
    input[type="radio"]+label {
        width: 100%;
        height: 100%;
        border: solid #CCC 1px;
        padding: 10px 20px;
    }
    label {
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
        &::after {
            content: '\f00c';
            font-family: 'fontawesome';
            position: absolute;
            left: auto;
            right: 0;
            top: 0;
            color: $whiteColor;
            background: $themeColors;
            width: 25px;
            height: 25px;
            display: none;
        }
        img {
            width: 100%;
            max-width: 100%;
        }
        span {
            font-size: 12px;
            display: block;
            margin: 15px 0 0 0;
        }
    }
    input[type="radio"]:checked+label {
        border: solid 1px $themeColors;
        &::after {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

#ButtonThread,
#backBottom {
    h3 {
        font-size: 18px;
        margin: 15px 0 15px 0;
    }
}

.selected_shirt_sections {
    margin: 20px 0 0 0;
    background: #f1f1ff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    p {
        margin: 0;
    }
    .shirt_name {
        font-size: 16px;
    }
    .shirt_pricing {
        font-size: 18px;
        color: $themeColors;
    }
}

.buyNowButton {
    margin: 20px 0 0 0;
    text-align: center;
    a {
        @include sampleBlackButton();
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            margin: 0 10px 0 0;
        }
    }
}

.set_pocket_section {
    position: absolute;
    width: 400px;
    left: 0;
    top: 0;
    right: auto;
}

.buttonSection,
.CuffbuttonSection,
.CuffbuttonTwo {
    position: absolute;
    width: 400px;
    left: 0;
    top: 0;
    right: auto;
}