@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "AdobeGaramondProRegular";
  src: url("../fonts/AdobeGaramondProRegular.eot");
  src: url("../fonts/AdobeGaramondProRegular.eot") format("embedded-opentype"), url("../fonts/AdobeGaramondProRegular.woff2") format("woff2"), url("../fonts/AdobeGaramondProRegular.woff") format("woff"), url("../fonts/AdobeGaramondProRegular.ttf") format("truetype"), url("../fonts/AdobeGaramondProRegular.svg#AdobeGaramondProRegular") format("svg");
}
html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

header {
  position: absolute;
  z-index: 99;
  width: 100%;
  top: 0;
  height: 70px;
}
header .navbar .navbar-brand {
  color: #4d4d4d;
  font-size: 25px;
}
header .navbar .collapse ul li {
  margin: 0 0 0 20px;
}
header .navbar .collapse ul li a {
  color: #4d4d4d;
  font-size: 22px;
  font-weight: 500;
  font-family: AdobeGaramondProRegular;
}
header .navbar .collapse ul li.signup_section a {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  display: inline-block;
  border: solid 1px #673ab6;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: #673ab6;
  color: #ffffff;
}

header.header_fixed {
  position: fixed;
  background: #f1f1f1;
}

.slider_sections {
  position: relative;
  background: url("../images/slider_img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider_sections .slider_contents {
  padding: 0;
  position: relative;
  text-align: center;
}
.slider_sections .slider_contents h1 {
  font-size: 45px;
  margin: 0 0 40px 0;
  color: #ffffff;
  font-weight: 600;
}
.slider_sections .slider_contents a {
  background: #673ab6;
  border: solid 1.5px #673ab6;
  font-size: 18px;
  padding: 0 20px;
  height: 42px;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  transition: all 0.5s ease;
}
.slider_sections .slider_contents a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: transparent;
  border: 1.5px solid #673ab6;
  color: #673ab6;
}

.new_collection_section {
  padding: 30px 0;
  position: relative;
}
.new_collection_section .new_collection_img {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new_collection_section .new_collection_img .row {
  width: 100%;
}
.new_collection_section .new_collection_img h2 {
  color: #ffffff;
  font-family: AdobeGaramondProRegular;
}
.new_collection_section .new_collection_img p {
  margin: 0 0 30px 0px;
  color: #ffffff;
}
.new_collection_section .new_collection_img a {
  background: #673ab6;
  border: solid 1.5px #673ab6;
  font-size: 18px;
  padding: 0 20px;
  height: 42px;
  color: #ffffff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  transition: all 0.5s ease;
  margin: 0 auto;
  width: 140px;
}
.new_collection_section .new_collection_img a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: transparent;
  border: 1.5px solid #673ab6;
  color: #673ab6;
}
.new_collection_section .new_fabrics_section {
  position: relative;
  background: url("../images/new_fabircs.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.new_collection_section .mens_collections {
  background: url("../images/mens_collections.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.product_slider_sections {
  padding-bottom: 30px;
  position: relative;
}
.product_slider_sections .product_contents .product_img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 300px;
}
.product_slider_sections .product_contents .product_body {
  padding-top: 20px;
}
.product_slider_sections .product_contents .product_body h2 {
  color: #000000;
  font-size: 28px;
  font-family: AdobeGaramondProRegular;
  margin: 0 0 10px 0;
}
.product_slider_sections .product_contents .product_body p {
  color: #4d4d4d;
  font-size: 16px;
  margin: 0 0 10px 0;
  height: 100%;
  min-height: 100px;
}
.product_slider_sections .product_contents .product_body a {
  background: transparent;
  border: solid 1.5px #673ab6;
  font-size: 18px;
  padding: 0 20px;
  height: 42px;
  color: #673ab6;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  transition: all 0.5s ease;
  margin: 0;
}
.product_slider_sections .product_contents .product_body a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #673ab6;
  color: #ffffff;
}

/*//////////////////////////// container fluid start //////////////////////*/
.partner_logo {
  background-color: #f1f1f1;
  width: 100%;
  padding: 30px 0;
}
.partner_logo a {
  color: #000;
}
.partner_logo a:hover {
  text-decoration: none;
  color: #000;
}
.partner_logo .gq_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner_logo .gq_logo img {
  width: 100%;
  max-width: 100px;
  filter: grayscale(100%);
  transition: all 1s ease;
}
.partner_logo .gq_logo img:hover {
  filter: grayscale(0);
  transition: all 1s ease;
}
.partner_logo .gq_logo span {
  text-align: center;
  width: 100%;
  max-width: 210px;
  margin: 0 auto;
  padding-top: 10px;
}
.partner_logo .vogue_logo {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner_logo .vogue_logo img {
  width: 100%;
  max-width: 160px;
}
.partner_logo .vogue_logo p {
  padding-top: 20px;
}
.partner_logo .vogue_logo img {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner_logo .vogue_logo p {
  width: 170px;
}
.partner_logo .timeout {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partner_logo .timeout img {
  width: 100%;
  max-width: 70px;
}
.partner_logo .bbc p {
  width: 200px;
}

.made_in_mumbai {
  width: 100%;
  overflow-x: hidden;
  margin: 30px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.made_in_mumbai .made_in_image {
  background-image: url("../images//Bombay_1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  width: 100%;
  background-position: center;
}
.made_in_mumbai .made_in_image.dinner_image {
  background-image: url("../images/Bombay-Shirts-Lavelle-Road-2-Resized.jpg");
}
.made_in_mumbai .made_in_text {
  background-color: #bac8cb;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 20px;
}
.made_in_mumbai .made_in_text h3 {
  margin: 0;
  font-size: 32px;
}
.made_in_mumbai .made_in_text p {
  margin: 0;
  padding: 25px 0 0 0;
}
.made_in_mumbai .made_in_text .about_btn {
  margin-top: 40px;
}
.made_in_mumbai .made_in_text .about_btn button {
  background: transparent;
  border: solid 1.5px #673ab6;
  font-size: 18px;
  padding: 0 20px;
  height: 42px;
  color: #673ab6;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  transition: all 0.5s ease;
  margin: 0;
  width: auto;
  font-size: 14px;
}
.made_in_mumbai .made_in_text .about_btn button:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #673ab6;
  color: #ffffff;
}
.made_in_mumbai .made_in_text.experience_sections {
  background: rgba(201, 157, 101, 0.25);
}

.footer {
  width: 100%;
  background-color: #f1f1f1;
  padding: 25px 0;
  margin: 30px 0 0 0;
}
.footer .sub_footer {
  margin: 40px 0;
}
.footer .sub_footer .shop_online {
  display: flex;
  flex-direction: column;
}
.footer .sub_footer .shop_online h6 {
  color: #673ab6;
  text-align: left;
  font-size: 13px;
  font-weight: 700;
}
.footer .sub_footer .shop_online ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer .sub_footer .shop_online ul li a {
  color: #000;
  font-size: 13px;
}
.footer .sub_footer .shop_online ul li a:hover {
  color: #673ab6;
  text-decoration: none;
}
.footer .sub_footer .about h5 {
  font-size: 13px;
  color: #673ab6;
  font-weight: 700;
  margin: 0;
  padding: 15px 0;
}
.footer .sub_footer .about.footer_form {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.footer .sub_footer .about.footer_form .form_dive .subscribe_form {
  width: 300px;
}
.footer .sub_footer .footer_form .subscribe_form input {
  border: 1px solid #CCC;
  height: 38px;
  line-height: 38px;
}
.footer .sub_footer .footer_form .subscribe_form input:focus {
  border: solid 1px #673ab6;
  box-shadow: none;
  outline: none;
}
.footer .sub_footer .footer_form .footer_btn button {
  background: #673ab6;
  color: #ffffff;
  border: 1px solid #673ab6;
  margin-left: -20px;
}
.footer .sub_footer .icon_stores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 100px;
  font-size: 40px;
}
.footer .sub_footer .icon_stores .facebook a i {
  color: #000;
}
.footer .sub_footer .icon_stores .facebook a i:hover {
  color: blueviolet;
}
.footer .sub_footer .icon_stores .insta a i {
  color: #000;
}
.footer .sub_footer .icon_stores .insta a i:hover {
  color: rosybrown;
}

.images_svg {
  margin-top: 20px;
  padding: 60px 0;
  background: #f1f1f1;
}
.images_svg .svg_img svg {
  width: 100%;
  fill: red;
}
.images_svg .svg_img svg:hover {
  fill: green;
}

.section_wrap {
  margin: 0 0 30px 0;
}

.nav.nav-pills li a {
  background-color: #f2f2f2;
  border-radius: 4px;
  display: inline-block;
  color: #000000;
  width: 100%;
  margin: 0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav.nav-pills li a p {
  display: flex;
  flex-direction: column;
}

.nav.nav-pills li a img {
  max-width: 100%;
  max-width: 25px;
}

.nav.nav-pills li a.active {
  background-color: #673ab6;
  color: #ffffff;
}

.tab-content .list_of_fabric {
  margin: 0 0 15px 0;
}

.tab-content .list_of_fabric img {
  width: 100%;
  max-width: 100%;
}

.list_of_collars {
  border: solid 1px #CCC;
  padding: 10px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_of_collars:hover {
  background: #f1f1f1;
}

.list_of_pockets {
  width: 100%;
  min-height: 100px;
  border: solid #f1f1f1 1px;
  margin: 0 0 20px 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list_of_pockets:hover {
  background: #f1f1f1;
}

.main_shirt_sections {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  /* background: red; */
  position: relative;
}

.main_front_sections {
  width: 400px;
  margin: 0 auto;
  height: 400px;
}

.sleeves_full_section {
  position: absolute;
  width: 400px;
  height: 400px;
  left: 0;
  right: auto;
  top: 0;
}

.cuff_one_section {
  position: absolute;
  left: 0;
  right: auto;
  width: 400px;
  top: 0;
}

.placket_straight {
  position: absolute;
  left: 0;
  width: 400px;
  top: 0;
}

.collar_polo_section {
  position: absolute;
  left: 0;
  width: 100%;
  right: auto;
}

.collar_band_section {
  position: absolute;
  left: 0;
  width: 100%;
  right: auto;
}

.customize_sections {
  margin-top: 70px;
  position: relative;
}
.customize_sections .customize_header {
  margin-bottom: 30px;
}
.customize_sections .customize_header h2 {
  font-size: 30px;
  margin: 0;
  font-family: AdobeGaramondProRegular;
}
.customize_sections .customize_header p {
  font-size: 16px;
  margin: 0;
}

.fabric_fillter_section {
  margin: 0 0 20px 0;
}
.fabric_fillter_section ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.fabric_fillter_section ul li {
  margin-right: 5px;
}
.fabric_fillter_section ul li #filterButton {
  border: solid 1px #673ab6;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  border-radius: 5px;
}
.fabric_fillter_section ul li #filterButton:focus {
  border: solid 1px #673ab6;
  box-shadow: none;
  outline: none;
}
.fabric_fillter_section ul li select {
  height: 38px;
  border: solid 1px #673ab6;
  border-radius: 5px;
}
.fabric_fillter_section ul li select:focus {
  border: solid 1px #673ab6;
  box-shadow: none;
  outline: none;
}
.fabric_fillter_section ul li form {
  display: flex;
}
.fabric_fillter_section ul li form input {
  height: 38px;
  border: solid 1px #CCC;
  border-radius: 5px 0 0 5px;
}
.fabric_fillter_section ul li form input:focus {
  border: solid 1px #673ab6;
  box-shadow: none;
  outline: none;
}
.fabric_fillter_section ul li form button {
  height: 38px;
  width: 38px;
  border: solid 1px #673ab6;
  background: #673ab6;
  color: #FFF;
  border-radius: 0 5px 5px 0;
}
.fabric_fillter_section ul li form button:focus {
  box-shadow: none;
  outline: none;
}

.Collar_filter_sections {
  margin: 0 0 20px 0;
}
.Collar_filter_sections select {
  width: 50%;
  height: 38px;
  border: solid 1px #673ab6;
  padding: 0 7px;
  border-radius: 5px;
}
.Collar_filter_sections select:focus {
  box-shadow: none;
  outline: none;
}

.custom_radtioButton {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.custom_radtioButton input[type=radio] {
  display: none;
}
.custom_radtioButton input[type=radio] + label {
  width: 100%;
  height: 100%;
  border: solid #CCC 1px;
  padding: 10px 20px;
}
.custom_radtioButton label {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.custom_radtioButton label::after {
  content: "";
  font-family: "fontawesome";
  position: absolute;
  left: auto;
  right: 0;
  top: 0;
  color: #ffffff;
  background: #673ab6;
  width: 25px;
  height: 25px;
  display: none;
}
.custom_radtioButton label img {
  width: 100%;
  max-width: 100%;
}
.custom_radtioButton label span {
  font-size: 12px;
  display: block;
  margin: 15px 0 0 0;
}
.custom_radtioButton input[type=radio]:checked + label {
  border: solid 1px #673ab6;
}
.custom_radtioButton input[type=radio]:checked + label::after {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ButtonThread h3,
#backBottom h3 {
  font-size: 18px;
  margin: 15px 0 15px 0;
}

.selected_shirt_sections {
  margin: 20px 0 0 0;
  background: #f1f1ff;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}
.selected_shirt_sections p {
  margin: 0;
}
.selected_shirt_sections .shirt_name {
  font-size: 16px;
}
.selected_shirt_sections .shirt_pricing {
  font-size: 18px;
  color: #673ab6;
}

.buyNowButton {
  margin: 20px 0 0 0;
  text-align: center;
}
.buyNowButton a {
  background: transparent;
  border: solid 1.5px #673ab6;
  font-size: 18px;
  padding: 0 20px;
  height: 42px;
  color: #673ab6;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 180px;
  transition: all 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buyNowButton a:hover {
  transition: all 0.5s ease;
  text-decoration: none;
  background: #673ab6;
  color: #ffffff;
}
.buyNowButton a i {
  margin: 0 10px 0 0;
}

.set_pocket_section {
  position: absolute;
  width: 400px;
  left: 0;
  top: 0;
  right: auto;
}

.buttonSection,
.CuffbuttonSection,
.CuffbuttonTwo {
  position: absolute;
  width: 400px;
  left: 0;
  top: 0;
  right: auto;
}

/*# sourceMappingURL=style.css.map */
