@font-face {
    font-family: 'AdobeGaramondProRegular';
    src: url('fonts/AdobeGaramondProRegular.eot');
    src: url('fonts/AdobeGaramondProRegular.eot') format('embedded-opentype'),
         url('fonts/AdobeGaramondProRegular.woff2') format('woff2'),
         url('fonts/AdobeGaramondProRegular.woff') format('woff'),
         url('fonts/AdobeGaramondProRegular.ttf') format('truetype'),
         url('fonts/AdobeGaramondProRegular.svg#AdobeGaramondProRegular') format('svg');
}
